<div class="container">
  <div ng-include="'components/navbar/navbar.html'"></div>

  <hr>
  <div class="jumbotron text-center winter">
    <h1>Seokmin's Toggl</h1>
    <hr>
    <p class="lead">
      <img src="/assets/images/cats.jpeg" alt=""><br>
    </p>
    <hr>

    <div class="panel row" id="contents">
      <div class="col-lg-3 input-group-lg">
        <p> Title</p>
        <input type="text" name="title" class="form-control" ng-model="itemtitle" ng-disabled="block"/>
      </div>
      <div class="col-lg-6 input-group-lg">
        <p> Content </p>
        <input type="text" name="content" class="form-control" ng-model="itemcontent" ng-disabled="block"/>
      </div>
      <div class="col-lg-3 input-group-lg">
        <p> Time passed</p>

        <p> {{ elapsedTime | displayTime }} </p>
      </div>
    </div>
    <hr>
    <div>
      <span class="input-group-btn">
          <button ng-click="togglTimer()" class="btn btn-lg {{buttonStyle}}" name="change_button"> {{buttonText}}
          </button>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12" ng-repeat="task in tasks track by $index">
      <input-list></input-list>
    </div>
  </div>

  <hr>
</div>
