<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center">
    <h1>Seokmin's Toggl</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Track your time!
    </p>
    <div class="panel row ">
      <div class="col-lg-3 input-group-lg">
        <p> Title</p>
        <input type="text" name="title" class="form-control" ng-model="itemtitle"/>
      </div>
      <div class="col-lg-7 input-group-lg">
        <p> Content </p>
        <input type="text" name="content" class="form-control" ng-model="itemcontent"/>
      </div>
      <div class="col-lg-2 input-group-lg">
          {{timer}}
      </div>
    </div>
    <div>
      <span class="input-group-btn">
          <button ng-click="toggleTimer()" class="btn btn-lg btn-success" name="change_button"> {{buttonText}}</button>
      </span>
    </div>
  </div>

  <div>
    <div> {{timer}}</div>
    <button ng-click="toggleTimer()"> {{mode}}</button>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12" ng-repeat="task in tasks">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{task.logo}}" alt="{{task.title}}">
        <div class="caption">
          <p> 시작 날짜: {{task.finishtime | date:'yyyy-MM-dd'}}</p>
          <h3> 제목: {{task.title}}</h3>
          <p> 설명: {{task.description}}</p>
          <p> 시작시간: {{task.starttime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
          <p> 지속시간: {{task.timespend }} 초 </p>
        </div>
      </div>
    </div>
  </div>

  <hr>


  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
