<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center">
    <h1>Seokmin's Toggl</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Track your time!
    </p>
    <div class="panel row ">
      <div class="col-lg-3 input-group-lg">
        <p> Title</p>
        <input type="text" name="title" class="form-control" ng-model="itemtitle"/>
      </div>
      <div class="col-lg-7 input-group-lg">
        <p> Content </p>
        <input type="text" name="content" class="form-control" ng-model="itemcontent"/>
      </div>
      <div class="col-lg-2 input-group-lg">
        <span class="input-group-btn">
          <button ng-click="buttonChange()" class="btn btn-default" name="change_button"> {{buttonText}}</button>
        </span>
      </div>
    </div>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12" ng-repeat="awesomeThing in awesomeThings">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}">
        <div class="caption">
          <p>{{awesomeThing.datesubmit | date:'yyyy-MM-dd HH:mm:ss'}}</p>
          <h3>{{awesomeThing.title}}</h3>
          <p>{{awesomeThing.description}}</p>
          <p>{{awesomeThing.starttime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </div>
      </div>
    </div>
  </div>

  <hr>


  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
