.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#contents p {
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  color: #f0f0f0;
  background-color: #d43d3a;
}

.thumbnail {
  height: 1000px;

  img.pull-right {
    width: 50px;
  }
}


// injector
// endinjector
