.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.winter {
  background-image: url("/assets/images/christmastree.jpg");
  opacity: 0.8;
}


#contents {

  p {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    color: black;
    background-color: white;
    //  background-color: #d43d3a;
  }
}
  .thumbnail {
    height: 250px;

    img.pull-right {
      width: 100px;
    }

    #logo {
      max-width: 100%;
    }
  }



// injector
// endinjector

